body{
    background:linear-gradient(to bottom,rgb(192, 221, 243) ,  rgb(188, 217, 247) ,rgb(217, 239, 247))
}

#b-name{
    color:rgb(0, 4, 255);
    display: flex;
    justify-content: center;
}

form{
    padding:5px;
}


.section-3{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.computers{
    grid-column: 2/1;
}

.telivisions{
    grid-area: 2/2;
} 

.smartphones{
    grid-area:3/1;
}

.header-ul{
    list-style-type:none;
}

a{
    text-decoration: none;
}

.list:hover{
    color:rgb(250, 154, 10);
}

li:visited{
    color:purple;
}

.footer-ul{
    list-style-type: none;
    
}

h2{
    box-shadow:2px 2px 2px 2px rgb(94, 67, 67);
}


h5{
    font-size:15px;
    margin:10px auto 5px auto;

}

input{
    box-shadow: 1px 1px 1px 1px rgb(184, 184, 247);
}



.menu-bar{
    text-align: center;
    background-color:rgb(64, 93, 121); 
}
.menu-bar li{
    list-style:none;
    display:inline-flex;
    line-height: 40px;
    margin-right:100px;
    color: peachpuff;
}

.menu-bar ul li a{
    color:aliceblue;
    text-decoration: none;
}

.menu-bar ul li :hover{
    color:rgb(250, 154, 10);
}

.sub-menu-1{
    display:none;
}

.menu-bar ul li:hover   .sub-menu-1
{
    display:block;
    position: absolute;
    background:rgb(74, 106, 136);
    margin-top: 40px;
    margin-left:auto;

}


.menu-bar ul li:hover   .sub-menu-1 ul li{
    display: block;
}

.menu-bar ul li:hover   .sub-menu-1 ul li{
    padding:1px;
    color:white;
    border-bottom: 1px solid white;
    border-radius:0px;
    text-align: left;
}

.menu-bar ul li:hover   .sub-menu-1 ul li:last-child
{
    border-bottom:none;
}

.menu-bar ul li:hover   .sub-menu-1 ul li:hover{
    color:rgb(250, 154, 10);
}


footer{
    background:linear-gradient(to right,rgb(141, 207, 252),white);
    margin:2px;
}
