body{
    background:linear-gradient(to bottom,rgb(192, 221, 243) ,  rgb(188, 217, 247) ,rgb(217, 239, 247))
}

#b-name{
    color:rgb(0, 4, 255);
    display: flex;
    justify-content: center;
}

form{
    padding:5px;
}


.section-3{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.refridegerators{
    grid-column: 2/1;
}

.telivisions{
    grid-area: 2/2;
} 

.smartphones{
    grid-area:3/1;
}

.header-ul{
    list-style-type:none;
}

a{
    text-decoration: none;
}

.list:hover{
    color:rgb(236, 10, 236);
}

li:visited{
    color:purple;
}

.footer-ul{
    list-style-type: none;
    
}

h2{
    box-shadow:2px 2px 2px 2px rgb(94, 67, 67);
}


h5{
    font-size:15px;
    margin:10px auto 5px auto;

}

input{
    box-shadow: 1px 1px 1px 1px rgb(184, 184, 247);
}

